apiVersion: crd.projectcalico.org/v1
kind: IPPool
metadata:
  name: default-ipv4-ippool
spec:
  allowedUses: [ "workload", "tunnel" ]
  blockSize:     26
  cidr:          {{ k8s_pods_subnet }} 
  ipipMode:      CrossSubnet
  natOutgoing:   true
  nodeSelector:  all()
  vxlanMode:     Never
