apiVersion: audit.k8s.io/v1
kind: Policy
rules:
  # Do not log from kube-system accounts
  - level: None
    UserGroups:
    - system:serviceaccounts:kube-system
  - level: None
    users:
    - system:apiserver
    - system:kube-scheduler
    - system:volume-scheduler
    - system:kube-controller-manager
    - system:node

  # Do not log from collector
  - level: None
    Users:
    - system:serviceaccount:collectorforkubernetes:collectorforkubernetes

  # Don't log nodes communications
  - level: None
    userGroups:
    - system:nodes

  # Don't log anonymous  accesses
  - level: None
    userGroups:
    - system:unauthenticated

  # Don't log these read-only URLs.
  - level: None
    nonResourceURLs:
    - /healthz*
    - /version
    - /swagger*

  # Log everything else at Metadata level
  - level: Metadata

